@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-quatiaria: #2267fd;
    --cor-hover-botao: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quatiaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.titulo-destaque:hover {
    color: var(--cor-quatiaria);
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    
}

#hoverJava:hover {
    color: #fd2222;
}

#hoverHTML:hover {
    color: #fd9722;
}

#hoverCSS:hover {
    color: #2297fd;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.4rem;
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21.5px 0;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-hover-botao);
    border-color: var(--cor-quatiaria);
}

.apresentacao__imagem{
    width: 90%;
}

.rodape {
    padding: 28px;
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 400;
}

.rodape:hover{
    background-color: var(--cor-quatiaria);
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}